<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8" ng-app="br.com.angularboilerplate"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9" ng-app="br.com.angularboilerplate"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="br.com.angularboilerplate"> <!--<![endif]-->
<head>
    <!--<base href="/"/>-->
    <title>angularboilerplate</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="dist/style.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="app/components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="appCtrl" ng-swipe-right="Sidebar.toggleSidebar()" ng-cloak>

<div id="content-page">
  <!-- Header content -->
  <div ng-include="'app/elements/header.html'" ng-if="showToolbar()"></div>


  <div class="content" ng-include="'app/elements/sidebar.html'" ng-if="showToolbar()"></div>

  <div id="globalProgress">
    <lx-progress lx-type="linear" lx-color="teal" ng-if="vm.showLinearProgress"></lx-progress>
    <lx-progress lx-type="circular" lx-diameter="75" ng-if="vm.showCircularProgress"></lx-progress>
  </div>


  <!-- Page Content -->
  <main ng-view></main>
</div>

<!-- AngularJS -->
<script type="text/javascript" src="app/components/angular/angular.min.js"></script>
<script type="text/javascript" src="app/components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="app/components/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript" src="app/components/ngstorage/ngStorage.min.js"></script>
<script type="text/javascript" src="app/components/angular-touch/angular-touch.min.js"></script>

<!-- AngularJS Main -->
<script type="text/javascript" src="app.min.js"></script>

</body>
</html>
